
.demo-exception .ant-row:first-child {
  margin-bottom: 15px;
}
.demo-exception .inner {
  padding: 15px;
  border: 1px solid #313131;
  background-color: #3e3e3e;
}
.demo-exception .custom-table .ant-table {
  border: none;
  border-radius: 0;
  overflow: auto;
}
.demo-exception .custom-table .ant-table-body table {
  padding: 0;
  width: 2000px;
  border-radius: 0;
}
.demo-exception .custom-table .ant-table-tbody > tr:hover > td { background-color: transparent; }
.demo-exception .custom-table .ant-table-thead > tr > th {
  background-color: #272727;
  color: white;
  border: none;
}
.demo-exception .custom-table .ant-table-tbody > tr:nth-child(odd) {
  background-color: #3e3e3e;
}
.demo-exception .custom-table .ant-table-tbody > tr:nth-child(even) {
  background-color: #393939;
}
.demo-exception .custom-table .ant-table-tbody > tr > td {
  border: none;
  color: white;
}